{% extends 'comiccollection/base.html' %}

{% block content %}
  {% if all_comics %}
    {% csrf_token %}
    <br>
    <form method="POST" action="{% url 'comiccollection:comics' %}">
      {% csrf_token %}
      {{search_form}}
      <input type="submit" name="search" value="Search">
    </form>
    <ul>
    {% for comic in all_comics %}
    <article class="listing">
    <img class="comic-cover" src={{ comic.img_url }} alt={{ comic.title }}>
      <h3><a href="{% url 'comiccollection:comic_detail' comic.id %}">{{ comic.title }}</a></h3>
      <div class="detail author">
        <span>Writers:</span> {{comic.writers.all|join:", " }}
      </div>
      <div class="detail illustrator">
        <span>Illustrator:</span> {{comic.illustrators.all|join:", " }}
      </div>
      <div class="detail publisher">
        <span>Publisher:</span> {{comic.publisher}}
      </div>
      {% if comic.series %}
        <div class="detail series">
          <span>Series:</span> {{ comic.series }} (comic {{comic.series_number}})
        </div>
      {% endif %}
    </article>
    {% endfor %}
    </ul>
  {% else %}
    <p>No comics yet!</p>
  {% endif %}
  <a class="button" href="/comiccollection/comics/new_comic/">Add a comic</a></h2>
  <div class="pagination">
    <span class="step-links">
        {% if all_comics.has_previous %}
            <a href="?page={{ all_comics.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_comics.number }} of {{ all_comics.paginator.num_pages }}.
        </span>

        {% if all_comics.has_next %}
            <a href="?page={{ all_comics.next_page_number }}">next</a>
        {% endif %}
    </span>
  </div>
{% endblock %}
