{% extends 'comiccollection/base.html' %}

{% block content %}
  {% if all_genres %}
    <ul>
    {% for genre in all_genres %}
    <article class="listing">
      <h3><a href="{% url 'bookcollection:genre_detail' genre.pk %}">{{ genre.name }}</a></h3>
      {% if genre.comic_count == 1 %}
        <p>({{genre.comic_count}} book)</p>
      {% else %}
        <p>({{genre.comic_count}} books)</p>
      {% endif %}
    </article>
    {% endfor %}
    </ul>
  {% else %}
    <p>No genres yet!</p>
  {% endif %}
{% endblock %}
