{% extends 'comiccollection/base.html' %}

{% block content %}
  {% if all_illustrators %}
    {% csrf_token %}
    <br>
    <form method="POST" action="{% url 'comiccollection:illustrators' %}">
      {% csrf_token %}
      {{search_form}}
      <input type="submit" name="search" value="Search">
    </form>
    <ul>
    {% for illustrator in all_illustrators %}
    <article class="listing">
      <h3><a href="{% url 'comiccollection:illustrator_detail' illustrator.pk %}">{{ illustrator }}</a></h3>
      {% if illustrator.comic_count == 1 %}
        <p>({{illustrator.comic_count}} comic)</p>
      {% else %}
        <p>({{illustrator.comic_count}} comics)</p>
      {% endif %}
    </article>
    {% endfor %}
    </ul>
  {% else %}
    <p>No illustrators yet!</p>
  {% endif %}
  <a class="button" href="/comiccollection/illustrators/new_illustrator/">Add an Illustrator</a></h2>
  <div class="pagination">
    <span class="step-links">
        {% if all_illustrators.has_previous %}
            <a href="?page={{ all_illustrators.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_illustrators.number }} of {{ all_illustrators.paginator.num_pages }}.
        </span>

        {% if all_illustrators.has_next %}
            <a href="?page={{ all_illustrators.next_page_number }}">next</a>
        {% endif %}
    </span>
  </div>
{% endblock %}
