{% extends 'comiccollection/base.html' %}
{% load static %}

{% block content %}
  <div class='stat-grid'>
    <a href='comics' class="box" style="display:box">
      <h3>Total Number of Comic Books</h3>
      <p>{{comic_count}}</p>
    </a>
    <a href='writers' class="box" style="display:box">
      <h3>Total Number of Writers</h3>
      <p>{{writer_count}}</p>
    </a>
    <a href='illustrators' class="box" style="display:box">
      <h3>Total Number of Illustrators</h3>
      <p>{{illustrator_count}}</p>
    </a>
    <a href='series' class="box" style="display:box">
      <h3>Total Number of Series</h3>
      <p>{{series_count}}</p>
    </a>
    <div class="box">
      <h3>Comics by Genre</h3>
      <canvas id="genreCanvas"></canvas>
      <div id="genreLegend"></div>
      <script type="text/javascript" src="/static/comiccollection/piechart.js"></script>
      <script>
        var data = {{ genreData|safe }};
        drawPieChart(data,  "genreCanvas", "genreLegend");
      </script>
    </div>
    <div class="box">
      <h3>Comics by Publisher</h3>
      <canvas id="publisherCanvas"></canvas>
      <div id="publisherLegend"></div>
      <script type="text/javascript" src="/static/comiccollection/piechart.js"></script>
      <script>
        var data = {{ publisherData|safe }};
        drawPieChart(data,  "publisherCanvas", "publisherLegend");
      </script>
    </div>
  </div>
{% endblock %}
