{% extends 'comiccollection/base.html' %}

{% block content %}
  <div class='page-title'>
    <h1>{{ writer }}</h1>
  </div>
  <table class="fixed">
    <tr>
        <td>
          {% if writer.comic_count == 1 %}
            <h3>Comics ({{writer.comic_count}} comic)</h3>
          {% else %}
            <h3>Comics ({{writer.comic_count}} comics)</h3>
          {% endif %}
          <ul>
            {% for comic in writer_comics %}
              <li><a href="{% url 'comiccollection:comic_detail' comic.id %}">{{ comic.title }}</a></li>
            {% endfor %}
          </ul>
        </td>
        <td>
          {% if writer.series %}
            <h3>Series</h3>
            <ul>
              {% for series in writer.series %}
                <li>{{ series.name }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </td>
    </tr>
  </table>
  <div class='stat-grid'>
    <div class="box">
      <h3>Total Number of Comics</h3>
      <p>{{writer.comic_count}}</p>
    </div>
    <div class="box">
      <h3>Total Number of Series</h3>
      <p>{{writer.series_count}}</p>
    </div>
    <div class="box">
      <h3>Comics by Genre</h3>
      <canvas id="genreCanvas"></canvas>
      <div id="genreLegend"></div>
      <script type="text/javascript" src="/static/comiccollection/piechart.js"></script>
      <script>
        var data = {{ genreData|safe }};
        console.log(data);
        drawPieChart(data,  "genreCanvas", "genreLegend");
      </script>
    </div>
  </div>
{% endblock %}
