{% extends 'comiccollection/base.html' %}

{% block content %}
  {% if all_writers %}
    {% csrf_token %}
    <br>
    <form method="POST" action="{% url 'comiccollection:writers' %}">
      {% csrf_token %}
      {{search_form}}
      <input type="submit" name="search" value="Search">
    </form>
    <ul>
    {% for writer in all_writers %}
    <article class="listing">
      <h3><a href="{% url 'comiccollection:writer_detail' writer.pk %}">{{ writer }}</a></h3>
      {% if writer.comic_count == 1 %}
        <p>({{writer.comic_count}} comic)</p>
      {% else %}
        <p>({{writer.comic_count}} comics)</p>
      {% endif %}
    </article>
    {% endfor %}
    </ul>
  {% else %}
    <p>No writers yet!</p>
  {% endif %}
  <a class="button" href="/comiccollection/writers/new_writer/">Add a Writer</a></h2>
  <div class="pagination">
    <span class="step-links">
        {% if all_writers.has_previous %}
            <a href="?page={{ all_writers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_writers.number }} of {{ all_writers.paginator.num_pages }}.
        </span>

        {% if all_writers.has_next %}
            <a href="?page={{ all_writers.next_page_number }}">next</a>
        {% endif %}
    </span>
  </div>
{% endblock %}
