@import url('https://fonts.googleapis.com/css?family=Acme');

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a { font-family: 'Acme'; line-height: 1.5; text-decoration: none; }

p a {
  color: #009403;
}

.menu {
    height: 4em;
    background-color: #890000;
}

.menu h1 {
    padding: 7px 0 0 20px;
    color: #ffa700;
    font-size: 2.1em;
    position: relative;
    left: -12px;
    bottom: 15px;
}

.menu a,
.menu .links {
    display: inline-block;
}

.menu a {
    line-height: 1;
    padding: 0 15px;
    color: #ffa700;
    opacity: 0.85;
}

.menu .links {
  float: right;
  padding-right: 30px;
  padding-top: 43px;
}

.menu .links a {
    position: relative;
    bottom: 5px;
}

.container {
    max-width: 1024px;
    min-height: 100vh;
    background: #f9f9f9;
    margin: 0 auto;
}

.body {
    padding: 15px;
}

.stat-grid {
    margin-top: 15px;
    min-height: 145px;
    height: auto;
    position: relative;
    overflow: hidden;
    padding-top: 10px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 200%;
  width: 450px;
  float: left;
  margin-bottom: 20px;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
}

.books {
  background-color: #0066e2;
  color: #e2e2e2;
}

.videogames {
  background-color: #006302;
  color: #b0b0b0;
}

.movies {
  background-color: #ffed86;
  color: #60605c;
}
