{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="/static/gamecollection/style.css">
</head>

<div class="container">
  <div class="menu">
    <a href="/gamecollection/">
      <h1> Game Collector </h1>
    </a>
    <div class="links">
      <a href="/gamecollection/games/"> Games </a>
      <a href="/gamecollection/studios/"> Studios </a>
      <a href="/gamecollection/systems/"> Systems </a>
      <a href="/gamecollection/series/"> Series </a>
      <a href="/gamecollection/genres/"> Genres </a>
      {%if user.is_authenticated %}
        <a href="{% url 'logout' %}"> Log out </a>
      {% endif %}
    </div>
  </div>
  <div class="body">
    {% block content %}{% endblock %}
  </div>
</div>

