{% extends 'gamecollection/base.html' %}

{% block content %}
  {% if all_developers %}
    {% csrf_token %}
    <br>
    <form method="POST" action="{% url 'gamecollection:developers' %}">
      {% csrf_token %}
      {{search_form}}
      <input type="submit" name="search" value="Search">
    </form>
    <ul>
    {% for developer in all_developers %}
    <article class="listing">
      <h3><a href="{% url 'gamecollection:developer_detail' developer.pk %}">{{ developer }}</a></h3>
      {% if developer.game_count == 1 %}
        <p>({{developer.game_count}} game)</p>
      {% else %}
        <p>({{developer.game_count}} games)</p>
      {% endif %}
    </article>
    {% endfor %}
    </ul>
  {% else %}
    <p>No developers yet!</p>
  {% endif %}
  <a class="button" href="/gamecollection/developers/new_developer/">Add a Developer</a></h2>
  <div class="pagination">
    <span class="step-links">
        {% if all_developers.has_previous %}
            <a href="?page={{ all_developers.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_developers.number }} of {{ all_developers.paginator.num_pages }}.
        </span>

        {% if all_developers.has_next %}
            <a href="?page={{ all_developers.next_page_number }}">next</a>
        {% endif %}
    </span>
  </div>
{% endblock %}
