{% extends 'gamecollection/base.html' %}

{% block content %}
  <h1>{{ franchise.name }}</h1>
  <p><span>Genres:</span> {{franchise.genres|join:", "}}</p>
  <table class="fixed">
    <tr>
        <td>
          {% if franchise.game_count == 1 %}
            <h3>Games ({{franchise.game_count}} game)</h3>
          {% else %}
            <h3>Games ({{franchise.game_count}} games)</h3>
          {% endif %}
          <ul>
            {% for game in franchise.games %}
              <li><a href="{% url 'gamecollection:game_detail' game.id %}">{{ game.title }}</a></li>
            {% endfor %}
          </ul>
        </td>
        <td>
          {% if franchise.systems %}
            <h3>Systems</h3>
            <ul>
              {% for system in franchise.systems %}
                <li><a href="{% url 'gamecollection:system_detail' system.id %}">{{ system.name }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
      </td>
    </tr>
  </table>
{% endblock %}
