{% extends 'gamecollection/base.html' %}

{% block content %}
  {% if all_franchises %}
    {% csrf_token %}
    <br>
    <form method="POST" action="{% url 'gamecollection:franchises' %}">
      {% csrf_token %}
      {{search_form}}
      <input type="submit" name="search" value="Search">
    </form>
    <ul>
    {% for franchise in all_franchises %}
    <article class="listing">
      <h3><a href="{% url 'gamecollection:franchise_detail' franchise.id %}">{{ franchise.name }}</a></h3>
      <div class="detail games">
        <span>Games:</span> {{franchise.game_count}}
      </div>
      <div class="detail systems">
        <span>Systems:</span> {{franchise.systems|join:", "}}
      </div>
    </article>
    {% endfor %}
    </ul>
  {% else %}
    <p>No franchises yet!</p>
  {% endif %}
  <div class="pagination">
    <span class="step-links">
        {% if all_franchises.has_previous %}
            <a href="?page={{ all_franchises.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_franchises.number }} of {{ all_franchises.paginator.num_pages }}.
        </span>

        {% if all_franchises.has_next %}
            <a href="?page={{ all_franchises.next_page_number }}">next</a>
        {% endif %}
    </span>
  </div>
{% endblock %}
