{% extends 'gamecollection/base.html' %}

{% block content %}
  {% if all_games %}
    {% csrf_token %}
    <br>
    <form method="POST" action="{% url 'gamecollection:games' %}">
      {% csrf_token %}
      {{search_form}}
      <input type="submit" name="search" value="Search">
    </form>
    <ul>
    {% for game in all_games %}
    <article class="listing">
      <div class="cover-space">
        <img class="game-cover" src={{ game.img_url }} alt={{ game.title }}>
      </div>
      <h3><a href="{% url 'gamecollection:game_detail' game.id %}">{{ game.title }}</a></h3>
      <div class="detail system">
        <span>System:</span> {{game.system}}
      </div>
      {% if game.copies > 1 %}
        <div class="detail copies">
          <span>Copies:</span> {{ game.copies }}
        </div>
      {% endif %}
      {% if game.digital %}
        <div class="detail digital">
          <span>[Digital]</span>
        </div>
      {% endif %}
      {% if game.franchises.all %}
        <div class="detail franchise">
          <span>Franchises:</span> {{ game.franchises.all|join:", " }}
        </div>
      {% endif %}
      {% if game.needs_case %}
        <div class="detail case">
          <span>[Needs Case]</span>
        </div>
      {% endif %}
      {% if game.needs_booklet %}
        <div class="detail booklet">
          <span>[Needs Booklet]</span>
        </div>
      {% endif %}
      {% if not game.needs_booklet and not game.needs_case and not game.digital %}
        <div class="detail complete">
          <span>[Complete]</span>
        </div>
      {% endif %}
    </article>
    {% endfor %}
    </ul>
  {% else %}
    <p>No games yet!</p>
  {% endif %}
  <div class="pagination">
    <span class="step-links">
        {% if all_games.has_previous %}
            <a href="?page={{ all_games.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_games.number }} of {{ all_games.paginator.num_pages }}.
        </span>

        {% if all_games.has_next %}
            <a href="?page={{ all_games.next_page_number }}">next</a>
        {% endif %}
    </span>
  </div>
{% endblock %}
