{% extends 'gamecollection/base.html' %}

{% block content %}
<div class="game-content">
  <div class="cover-space">
    <img class="game-cover" src={{ game.img_url }} alt={{ game.title }}>
  </div>
  <p><span>System:</span> {{game.system}}</p>
  <p><span>Developer:</span> {{game.developers.all|join:", "}}</p>
  <p><span>Year:</span> {{game.year_released}}</p>
  {% if game.franchises.all %}
    <p><span>Franchises:</span> {{ game.franchises.all|join:", " }}</p>
  {% endif %}
  {% if game.digital %}
    <p>[digital]</p>
  {% endif %}
  <p>
    {% if game.needs_case %}
      [Needs Case]
    {% endif %}
    {% if game.needs_booklet %}
      [Needs Booklet]
    {% endif %}
  </p>
  {% if not game.needs_booklet and not game.needs_case %}
    <div class="detail complete">
      <p>[Complete]</p>
    </div>
  {% endif %}
</div>
<form method="post">
  {% csrf_token %}
  {% if game.needs_case %}
    <input class="button" type="submit" name="case" value="Got the Case!">
  {% endif %}
  {% if game.needs_booklet %}
    <input class="button" type="submit" name="booklet" value="Got the Booklet!">
  {% endif %}
</form>
<p>See more games for the <a href="{% url 'gamecollection:system_detail' game.system.id %}">{{ game.system }}</a></p>
{% for dev in game.developers.all %}
  <p>See more games made by <a href="{% url 'gamecollection:developer_detail' dev.id %}">{{ dev }}</a></p>
{% endfor %}
{% if game.franchises %}
  {% for franchise in game.franchises.all %}
    <p>See more games in the <a href="{% url 'gamecollection:franchise_detail' franchise.id %}">{{ franchise.name }}</a> franchise</p>
  {% endfor %}
{% endif %}
{% endblock %}
