{% extends 'gamecollection/base.html' %}

{% block content %}
  <div class='page-title'>
    <h1>{{ genre }}</h1>
  </div>
  <div class='stat-grid'>
    <div class="box">
      <h3>Games</h3>
      <p>{{game_count}}</p>
    </div>
    <div class="box">
      <h3>Franchises</h3>
      <p>{{franchise_count}}</p>
    </div>
  </div>
  <table class="fixed">
    <tr>
        <td>
          <h3>Games</h3>
          <ul>
            {% for game in genre.game_set.all %}
              <li><a href="{% url 'gamecollection:game_detail' game.id %}">{{ game.title }}</a></li>
            {% endfor %}
          </ul>
        </td>
        <td>
          {% if franchises %}
            <h3>Franchises</h3>
            <ul>
              {% for franchise in franchises %}
              <li><a href="{% url 'gamecollection:franchise_detail' franchise.id %}">{{ franchise.name }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </td>
    </tr>
  </table>
{% endblock %}
