{% extends 'gamecollection/base.html' %}
{% load static %}

{% block content %}
  <div class='stat-grid'>
    <a href='games' class="box" style="display:box">
      <h3>Games</h3>
      <p>{{all_game_count.copies__sum}}</p>
    </a>
    <a href='systems' class="box" style="display:box">
      <h3>Systems</h3>
      <p>{{system_count}}</p>
    </a>
    <a href='developers' class="box" style="display:box">
      <h3>Developers</h3>
      <p>{{developer_count}}</p>
    </a>
    <div class="box">
      <h3>Games by System</h3>
      <canvas id="systemCanvas"></canvas>
      <div id="systemLegend"></div>
      <script type="text/javascript" src="/static/gamecollection/piechart.js"></script>
      <script>
        var data = {{ systemData|safe }};
        drawPieChart(data,  "systemCanvas", "systemLegend");
      </script>
    </div>
    <div class="box">
      <h3>Games by Genre</h3>
      <canvas id="genreCanvas"></canvas>
      <div id="genreLegend"></div>
      <script type="text/javascript" src="/static/gamecollection/piechart.js"></script>
      <script>
        var data = {{ genreData|safe }};
        drawPieChart(data,  "genreCanvas", "genreLegend");
      </script>
    </div>
{% endblock %}
