{% extends 'gamecollection/base.html' %}

{% block content %}
  {% if all_systems %}
    {% csrf_token %}
    <br>
    <form method="POST" action="{% url 'gamecollection:systems' %}">
      {% csrf_token %}
      {{search_form}}
      <input type="submit" name="search" value="Search">
    </form>
    <ul>
    {% for system in all_systems %}
    <article class="listing">
      <h3><a href="{% url 'gamecollection:system_detail' system.pk %}">{{ system }}</a></h3>
      {% if system.game_count == 1 %}
        <p>({{system.game_count}} game)</p>
      {% else %}
        <p>({{system.game_count}} games)</p>
      {% endif %}
    </article>
    {% endfor %}
    </ul>
  {% else %}
    <p>No systems yet!</p>
  {% endif %}
  <a class="button" href="/gamecollection/systems/new_system/">Add a System</a></h2>
  <div class="pagination">
    <span class="step-links">
        {% if all_systems.has_previous %}
            <a href="?page={{ all_systems.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_systems.number }} of {{ all_systems.paginator.num_pages }}.
        </span>

        {% if all_systems.has_next %}
            <a href="?page={{ all_systems.next_page_number }}">next</a>
        {% endif %}
    </span>
  </div>
{% endblock %}
