{% extends 'gamecollection/base.html' %}

{% block content %}
  <div class='page-title'>
    <h1>{{ system }}</h1>
  </div>
  <div class='stat-grid'>
    <div class="box">
      <h3>Total Number of Games</h3>
      <p>{{system.game_count}}</p>
    </div>
    <div class="box">
      <h3>Total Number of Developers</h3>
      <p>{{system.developer_count}}</p>
    </div>
    <div class="box">
      <h3>Total Number of Series</h3>
      <p>{{system.series_count}}</p>
    </div>
    <div class="box">
      <h3>Games by Developer</h3>
      <canvas id="developerCanvas"></canvas>
      <div id="developerLegend"></div>
      <script type="text/javascript" src="/static/gamecollection/piechart.js"></script>
      <script>
        var data = {{ developerData|safe }};
        console.log(data);
        drawPieChart(data,  "developerCanvas", "developerLegend");
      </script>
    </div>
    <div class="box">
      <h3>Games by Genre</h3>
      <canvas id="genreCanvas"></canvas>
      <div id="genreLegend"></div>
      <script type="text/javascript" src="/static/gamecollection/piechart.js"></script>
      <script>
        var data = {{ genreData|safe }};
        console.log(data);
        drawPieChart(data,  "genreCanvas", "genreLegend");
      </script>
    </div>
  </div>
  <table class="fixed">
    <tr>
        <td>
          <h3>Games</h3>
          <ul>
            {% for game in system.games %}
              <li><a href="{% url 'gamecollection:game_detail' game.id %}">{{ game.title }}</a></li>
            {% endfor %}
          </ul>
        </td>
        <td>
          {% if system.developers %}
            <h3>Developers</h3>
            <ul>
              {% for developer in system.developers %}
                <li><a href="{% url 'gamecollection:developer_detail' developer.id %}">{{ developer.name }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </td>
        <td>
          {% if system.series %}
            <h3>Series</h3>
            <ul>
              {% for series in system.series %}
                <li><a href="{% url 'gamecollection:series_detail' series.id %}">{{ series.name }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </td>
    </tr>
  </table>
{% endblock %}
