{% extends 'moviecollection/base.html' %}
{% load static %}

{% block content %}
  {{message}}
  <div class='stat-grid'>
    <a href='movies' class="box" style="display:box">
      <h3>Movies</h3>
      <p>{{movie_count}}</p>
    </a>
    <div class="box">
      <h3>Movies by Genre</h3>
      <canvas id="genreCanvas"></canvas>
      <div id="genreLegend"></div>
      <script type="text/javascript" src="/static/moviecollection/piechart.js"></script>
      <script>
        var data = {{ genreData|safe }};
        drawPieChart(data,  "genreCanvas", "genreLegend");
      </script>
    </div>
    <div class="box">
      <h3>Movies by Format</h3>
      <canvas id="formatCanvas"></canvas>
      <div id="formatLegend"></div>
      <script type="text/javascript" src="/static/moviecollection/piechart.js"></script>
      <script>
        var data = {{ formatData|safe }};
        drawPieChart(data,  "formatCanvas", "formatLegend");
      </script>
    </div>
  </div>
{% endblock %}
