{% extends 'bookcollection/base.html' %}

{% block content %}
  {% if all_authors %}
    {% csrf_token %}
    <br>
    <form method="POST" action="{% url 'bookcollection:authors' %}">
      {% csrf_token %}
      {{search_form}}
      <input type="submit" name="search" value="Search">
    </form>
    <ul>
    {% for author in all_authors %}
    <article class="listing">
      <h3><a href="{% url 'bookcollection:author_detail' author.pk %}">{{ author }}</a></h3>
      {% if author.book_count > 1 %}
        <p>({{author.book_count}} books)</p>
      {% else %}
        <p>({{author.book_count}} book)</p>
      {% endif %}
      {% if author.genre_count > 1 %}
        <p>({{author.genre_count}} genres)</p>
      {% else %}
        <p>({{author.genre_count}} genre)</p>
      {% endif %}
    </article>
    {% endfor %}
    </ul>
  {% else %}
    <p>No authors yet!</p>
  {% endif %}
  <a class="button" href="/bookcollection/authors/new_author/">Add an Author</a></h2>
  <div class="pagination">
    <span class="step-links">
        {% if all_authors.has_previous %}
            <a href="?page={{ all_authors.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_authors.number }} of {{ all_authors.paginator.num_pages }}.
        </span>

        {% if all_authors.has_next %}
            <a href="?page={{ all_authors.next_page_number }}">next</a>
        {% endif %}
    </span>
  </div>
{% endblock %}
