{% extends 'bookcollection/base.html' %}

{% block content %}

  <div class='page-title'>
    <h1>{{ author }}</h1>
  </div>

  {% if author_books %}
    <article class="small-listing">
      {% for book in author_books %}
        <a href="{% url 'bookcollection:book_detail' book.id %}"><img class="book-cover" src={{ book.img_url }} alt={{ book.title }}></a>
      {% endfor %}
    </article>
  {% else %}
    <p>No books yet!</p>
  {% endif %}

  <br>

  <div class='stat-grid'>
    <a class="box" href='{% url 'bookcollection:author_books' author.id %}'>
      <h3>Books</h3> <p>{{author.book_count}}</p>
    </a>
    <a class="box" href='{% url 'bookcollection:author_genres' author.id %}'>
      <h3>Genres</h3> <p>{{author.genre_count}}</p>
    </a>
    <a class="box" href='{% url 'bookcollection:author_series' author.id %}'>
      <h3>Series</h3> <p>{{author.series_count}}</p>
    </a>
    <div class="box">
      <h3>Books by Genre</h3>
      <canvas id="genreCanvas"></canvas>
      <div id="genreLegend"></div>
      <script type="text/javascript" src="/static/bookcollection/piechart.js"></script>
      <script>
        var data = {{ genreData|safe }};
        drawPieChart(data,  "genreCanvas", "genreLegend");
      </script>
    </div>
    <div class="box">
      <h3>Books by Age Group</h3>
      <canvas id="ageCanvas"></canvas>
      <div id="ageLegend"></div>
      <script type="text/javascript" src="/static/bookcollection/piechart.js"></script>
      <script>
        var data = {{ ageData|safe }};
        drawPieChart(data,  "ageCanvas", "ageLegend");
      </script>
    </div>
    <div class="box">
      <h3>Books by Read Status</h3>
      <canvas id="readCanvas"></canvas>
      <div id="readLegend"></div>
      <script type="text/javascript" src="/static/bookcollection/piechart.js"></script>
      <script>
        var data = {{ readData|safe }};
        drawPieChart(data,  "readCanvas", "readLegend");
      </script>
    </div>
  </div>

{% endblock %}
