{% extends 'bookcollection/base.html' %}

{% block content %}
  {% if all_books %}
    {% csrf_token %}
    <br>
    <form method="POST" action="{% url 'bookcollection:books' %}">
      {% csrf_token %}
      {{search_form}}
      <input type="submit" name="search" value="Search">
    </form>
    <ul>
    {% for book in all_books %}
    <article class="listing">
      <div class="cover-space">
        <img class="book-cover" src={{ book.img_url }} alt={{ book.title }}>
      </div>
      <h3><a href="{% url 'bookcollection:book_detail' book.id %}">{{ book.title }}</a></h3>
      <div class="detail author">
        <span>Author:</span> {{book.authors.all|join:", " }}
      </div>
      <div class="detail genre">
        <span>Genre:</span> {{book.genre}} > {{book.subgenre}}
      </div>
      <div class="detail age">
        <span>Age:</span> {{book.age}}
      </div>
      {% if book.series %}
        {% if book.series_number %}
          <div class="detail series">
            <span>Series:</span> {{ book.series }} (Book {{book.series_number}})
          </div>
        {% else %}
          <div class="detail series">
            <span>Series:</span> {{ book.series }}
          </div>
        {% endif %}
      {% endif %}
      {% if book.audiobook %}
        <p><span>[audiobook]</span></p>
      {% endif %}
      {% if book.read %}
        <p><span>[read]</span></p>
      {% endif %}
    </article>
    {% endfor %}
    </ul>
  {% else %}
    <p>No books yet!</p>
  {% endif %}

  <div class="pagination">
    <span class="step-links">
        {% if all_books.has_previous %}
            <a href="?page={{ all_books.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ all_books.number }} of {{ all_books.paginator.num_pages }}.
        </span>

        {% if all_books.has_next %}
            <a href="?page={{ all_books.next_page_number }}">next</a>
        {% endif %}
    </span>
  </div>
{% endblock %}
