{% extends 'bookcollection/base.html' %}

{% block content %}
<div class="book-content">
  <img class="book-cover" src={{ book.img_url }} alt={{ book.title }}>
  <p><span>Author:</span> {{book.authors.all|join:", " }}</p>
  <p><span>Year:</span> {{book.year_published}}</p>
  <p><span>Genre:</span> {{book.genre}} > {{book.subgenre}}</p>
  <p><span>Age:</span> {{book.age_group}}</p>
  {% if book.series %}
    <p><span>Series:</span> {{ book.series }} (Book {{book.series_number}})</p>
  {% endif %}
  {% if book.audiobook %}
    <p><span>[audiobook]</span></p>
  {% endif %}
</div>
{% for author in book.authors.all %}
  <p>See more books by <a href="{% url 'bookcollection:author_detail' author.id %}">{{ author }}</a></p>
{% endfor %}
<p>See more books of genre <a href="{% url 'bookcollection:genre_detail' book.genre.id %}">{{ book.genre }}</a></p>
{% if book.series %}
  <p>See more books in the <a href="{% url 'bookcollection:series_detail' book.series.id %}">{{ book.series.name }}</a> series</p>
{% endif %}
{% endblock %}
