{% extends 'bookcollection/base.html' %}

{% block content %}

  <div class='page-title'>
    <h1>{{ genre }}</h1>
  </div>

  {% if books %}
    {% if show_subs %}
      {% for subgenre in genre.subgenre_set.all %}
        <h2>{{subgenre}}</h2>
        <article class="small-listing">
          {% for book in subgenre.book_set.all %}
            <a href="{% url 'bookcollection:book_detail' book.id %}"><img class="book-cover" src={{ book.img_url }} alt={{ book.title }}></a>
          {% endfor %}
        </article>
      {% endfor %}
      <br>
      <form method="post">
        {% csrf_token %}
        <input class="button" type="submit" value="Hide Subgenres" />
      </form>
    {% elif show_ages %}
      {% for age, age_books in age_data %}
        {% if age_books %}
          <h2>{{age}}</h2>
          <article class="small-listing">
            {% for book in age_books %}
              <a href="{% url 'bookcollection:book_detail' book.id %}"><img class="book-cover" src={{ book.img_url }} alt={{ book.title }}></a>
            {% endfor %}
          </article>
        {% endif %}
      {% endfor %}
      <br>
      <form method="post">
        {% csrf_token %}
        <input class="button" type="submit" value="Hide Age Groups" />
      </form>
    {% else %}
      <article class="small-listing">
        {% for book in books %}
          <a href="{% url 'bookcollection:book_detail' book.id %}"><img class="book-cover" src={{ book.img_url }} alt={{ book.title }}></a>
        {% endfor %}
      </article>
      <br>
      <form method="post">
        {% csrf_token %}
        <input class="button" type="submit" name='subgenre' value="Shelf by Subgenre" />
        <input class="button" type="submit" name='age_groups' value="Shelf by Age Group" />
      </form>
    {% endif %}
  {% else %}
    <p>No books yet!</p>
  {% endif %}

  <br>

  <div class='stat-grid'>
    <div class="box"> <h3>Books</h3> <p>{{book_count}}</p> </div>
    <div class="box"> <h3>Authors</h3> <p>{{author_count}}</p> </div>
    <div class="box"> <h3>Series</h3> <p>{{series_count}}</p> </div>
    <div class="box">
      <h3>Books by Subgenre</h3>
      <canvas id="genreCanvas"></canvas>
      <div id="genreLegend"></div>
      <script type="text/javascript" src="/static/bookcollection/piechart.js"></script>
      <script>
        var data = {{ genreData|safe }};
        drawPieChart(data,  "genreCanvas", "genreLegend");
      </script>
    </div>
    <div class="box">
      <h3>Books by Age Group</h3>
      <canvas id="ageCanvas"></canvas>
      <div id="ageLegend"></div>
      <script type="text/javascript" src="/static/bookcollection/piechart.js"></script>
      <script>
        var data = {{ ageData|safe }};
        drawPieChart(data,  "ageCanvas", "ageLegend");
      </script>
    </div>
  </div>

{% endblock %}
