{% extends 'bookcollection/base.html' %}
{% load static %}

{% block content %}
  <div class='stat-grid'>
    <a href='books' class="box" style="display:box">
      <h3>Books</h3>
      <p>{{book_count}}</p>
    </a>
    <a href='authors' class="box" style="display:box">
      <h3>Authors</h3>
      <p>{{author_count}}</p>
    </a>
    <a href='series' class="box" style="display:box">
      <h3>Series</h3>
      <p>{{series_count}}</p>
    </a>
    <div class="box">
      <h3>Books by Genre</h3>
      <canvas id="genreCanvas"></canvas>
      <div id="genreLegend"></div>
      <script type="text/javascript" src="/static/bookcollection/piechart.js"></script>
      <script>
        var data = {{ genreData|safe }};
        drawPieChart(data,  "genreCanvas", "genreLegend");
      </script>
    </div>
    <div class="box">
      <h3>Books by Age Group</h3>
      <canvas id="ageCanvas"></canvas>
      <div id="ageLegend"></div>
      <script type="text/javascript" src="/static/bookcollection/piechart.js"></script>
      <script>
        var data = {{ ageData|safe }};
        drawPieChart(data,  "ageCanvas", "ageLegend");
      </script>
    </div>
  </div>
{% endblock %}
